body{
    background-image: none;
}
.section-cen{
    display: flex;
    max-height:100%;
    padding: 10%;
    background-image: url('https://tse1.mm.bing.net/th?id=OIP.a2a1E_P9IdejQRurjgnphwHaEF&pid=Api&P=0&h=180');
}
.titles{
    max-width:18800px;
    margin-top: 0%;
    font-size: 2rem;
    color:black;
    font-weight: bold;
}
.description{
    font-size: 1.2rem;
}
.back{
    margin-top:2%;
    padding: 1%;
    margin-right:43% ;
    margin-left: 47%;
    margin-bottom: 2%;
    background-color: gray;
}
.head{
    font-size: 1.2rem;
    font-weight: bold;
}
iframe{margin-left: 20%;
    margin-top: 2%;
    height:600px;
    width:1000px;
}
.structure{
    margin-left: 20%;
    margin-bottom: 2%;
    font-size: 1.5rem;
    margin-top: 5%;
    font-weight: bold;
    text-decoration: underline;
}
.tutorial{
    margin-left: 20%;
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: bold;

}
.content-list{
    font-size: 1.3rem;
    color:black;
    padding-left: 20%;
    padding-right: 30%;
    margin-bottom: 0%;
}
li p
{
    font-weight: bold;
    margin-left: 20px; 
}
.outer{
    border: 1px solid black;
}
.inner{
    margin-left:3%;
    border:none;
}
.link{
    text-decoration: none;
    color: white;
}