body{
    background-image: none;
    background-color: none;
}
.alert h1{
    font-size: 2rem;
    color: black;
    margin-top: 5%;
}
.redirect{
    align-items: center;
    width:200px;
    padding: 0.3%;
    margin-left: 43%;

}
.view{
    margin-left: 20%;
}